.admin-btns{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.edit-btn{
    color: #fff;
    text-decoration: none;
    background-color: #d3c333;
    border-radius: 10px;
    padding: 0.3em 2em;
    transition: 0.12s ease-in-out;
}

.edit-btn:hover {
    box-shadow: 0px 2px 20px rgba(228, 149, 2, 0.39);
    scale: 1.05;
}

section {
    position: relative;
    z-index: 1;
    color: #ffff;
    text-align: center;
}

.headline {
    margin: 1.2em;
    font-size: 3.5em;
}

.aboutUsArea p {
    margin-bottom: 2em;
    font-size: 1.8em;
}

.partnersArea .partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.3em;
}

.partnersArea .partner img{
    width: 100%;
    border-radius: 14px;
}


@media screen and (max-width: 840px) {
    .partnersArea .partners {
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }
}

