section
{
    position: relative;
    z-index: 1;
    color: #ffff;
    text-align: center;
}

.headline
{
    margin: 1.2em;
    font-size: 3.5em;
}

.aboutus-paragraph
{
    margin-bottom: 2em;
    font-size: 1.8em;
}
.partner-section
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.partner img {
    max-width: 250px; /* Makes sure the image is responsive and does not overflow its container */
    height: 250px; /* Maintains the aspect ratio of the image */
    vertical-align: middle; /* Aligns the image vertically */
  }

  .partner {
    padding: 10px; /* Space around each logo */
    flex: 1; /* Ensures that each partner logo has equal width */
    text-align: center; /* Centers the image in the div */
  }