section .contactsArea {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10em;
    padding: 1.6em 3.3em;
    background-color: #1B1525;
    box-shadow: 0px 2px 20px rgba(17, 39, 105, 0.8);
    border: 2px solid rgba(17, 39, 105, 0.8);
    border-radius: 10px;
    z-index: 1;
}

section .contactsArea .addressArea {
    width: 30%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

section .contactsArea .addressArea::before {
    content: '';
    position: absolute;
    height: 80%;
    width: 3px;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    background: #2f9fea;
}

section .contactsArea .addressArea .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.4em;
}

section .contactsArea .addressArea .box i {
    font-size: 3.8em;
    color: #2f9fea;
}

section .contactsArea .addressArea .box h2 {
    font-size: 2em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #fff;
}

section .contactsArea .addressArea .box p {
    text-align: center;
    font-size: 1.2em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: #A8A2B3;
    overflow-wrap: break-word;
}




section .contactsArea .messageArea {
    width: 70%;
}

section .contactsArea .messageArea h2 {
    font-size: 3em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #2f9fea;
}

section .contactsArea .messageArea p {
    font-size: 1.4em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: #fff;
}

section .contactsArea .messageArea input,
section .contactsArea .messageArea textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 1.4em 0;
    height: 2em;
    border: 3px solid #2f9fea;
    outline: none;
    font-size: 1.4em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    background: none;
    color: #fff;
    border-radius: 6px;
    padding: 1.5em 1.25em;
    resize: none;
}

section .contactsArea .messageArea textarea {
    min-height: 9em;
    padding-top: 0.5em;
}

section .contactsArea .messageArea .submitBtn {
    color: #fff;
    font-size: 1.6em;
    outline: none;
    border: none;
    padding: 0.6em 2.4em;
    border-radius: 6px;
    background: #2f9fea;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

section .contactsArea .messageArea .submitBtn:hover {
    background: #237ebb;
    scale: 1.05;
}

section .mapArea iframe {
    border-radius: 30px;
}


@media screen and (max-width: 980px) {
    main{
        font-size: 11px;
    }
    section .contactsArea {
        flex-direction: column;
    }

    section .contactsArea .addressArea {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    section .contactsArea .messageArea {
        width: 100%;
    }

    section .contactsArea .addressArea::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0%;
        top: 120%;
        background: #2f9fea;
    }
}