.admin-btns{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
}

.edit-btn{
    color: #fff;
    text-decoration: none;
    background-color: #d3c333;
    border-radius: 10px;
    padding: 0.3em 2em;
    transition: 0.12s ease-in-out;
}

.edit-btn:hover {
    box-shadow: 0px 2px 20px rgba(228, 149, 2, 0.39);
    scale: 1.05;
}

section .contactsArea {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10em;
    padding: 3.3em;
    background-color: #1B1525;
    box-shadow: 0px 2px 20px rgba(135, 7, 255, 0.39);
    border: 2px solid #8707ff;
    border-radius: 10px;
    z-index: 1;
}

section .contactsArea .addressArea {
    position: relative;
    display: grid;
    gap: 1.2em;
    grid-template-columns: 1fr;
}

section .contactsArea .addressArea::before {
    content: '';
    position: absolute;
    height: 80%;
    width: 3px;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    background: #8707ff;
}

section .contactsArea .addressArea .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .contactsArea .addressArea .box i {
    font-size: 3.8em;
    color: #8707ff;
}

section .contactsArea .addressArea .box h2 {
    font-size: 2em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #fff;
}

section .contactsArea .addressArea .box p {
    text-align: center;
    font-size: 1.2em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: #A8A2B3;
    overflow-wrap: break-word;
}

section .mapArea iframe {
    border-radius: 10px;
}


@media screen and (max-width: 840px) {
    main{
        font-size: 11px;
    }
    section .contactsArea {
        grid-template-columns: 1fr;
        padding: 2em;
    }

    section .contactsArea .addressArea {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    section .contactsArea .addressArea::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0%;
        top: 120%;
        background: #2f9fea;
    }
}