section .postArea {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    padding: 3.3em;
    background-color: #1B1525;
    box-shadow: 0px 2px 20px rgba(17, 39, 105, 0.8);
    border: 2px solid rgba(17, 39, 105, 0.8);
    border-radius: 10px;
    z-index: 1;
}

section .postArea .photoArea img {
    width: 100%;
    border-radius: 10px;
}

/* section .postArea .textArea {
    width: 55%;
    height: auto;
} */

section .postArea .textArea h1 {
    font-size: 3em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #2F9FEA;
    margin: 0.6em 0;
}

section .postArea .textArea .options {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.6em;
    margin: 0.8em 0;
}

section .postArea .textArea .options h2 {
    color: #fff;
    font-size: 1.4em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
}

section .postArea .textArea .options a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    transition: 0.12s ease-in-out;
}
section .postArea .options a.like{
    color: #cd5050;
}
section .postArea .options a:hover {
    color: #ff0000;
}

section .postArea .textArea p {
    font-size: 1.3em;
    color: #A8A2B3;
    margin-bottom: 1.25em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
}

section .btnArea {
    display: flex;
    justify-content: center;
    margin: 1.6em 0;
}

section .btnArea .btn {
    text-decoration: none;
    text-align: center;
    width: 40%;
    padding: 0.8em 3.3em;
    font-size: 1.6em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #2F9FEA;
    border-radius: 10px;
    text-shadow: 0 1px 0 #000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: 0.12s ease-in-out;
}

section .btnArea .btn:hover {
    background-color: #237ebb;
    scale: 1.05;
}

/* section .photoArea{
    width: 45%;
    height: auto;
} */

section .photoArea img{
    border: 4px solid #2f9fea;;
}

section .moreArea {
    position: relative;
    margin: 3.3em 0;
    padding: 1.6em;
    background-color: #1B1525;
    box-shadow: 0px 2px 20px rgba(17, 39, 105, 0.8);
    border: 2px solid rgba(17, 39, 105, 0.8);
    border-radius: 10px;
    z-index: 1;
}

section .moreArea h1 {
    color: #2F9FEA;
    font-size: 2.4em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
}

section .moreArea hr{
    margin: 0.3em 0 0.8em;
}

section .moreArea .postsArea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.3em;
}

section .moreArea .post img {
    width: 100%;
    border: 2px solid #2f9fea;;
    border-radius: 10px;
    transition: 0.12s ease-in-out;
}

section .moreArea .post img:hover {
    opacity: 60%;
}

section .moreArea .post a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transition: 0.12s ease-in-out;
}

section .moreArea .post a:hover {
    color: #00d5ff;;
}

section .moreArea .post a h2 {
    font-size: 1.8em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 840px) {
    main{
        font-size: 11px;
    }
    section .postArea{
        grid-template-columns: 1fr;
        padding: 2em;
        gap: 0;
    }
    section .postArea .photoArea{
        order: -1;
    }
    section .moreArea .postsArea {
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }
}

@media screen and (max-width: 640px) {
    section .moreArea .postsArea {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}