header {
    position: relative;
    height: 12.5em;
    background-color: #161525;
    /* background: linear-gradient(to right, #0d1539, #101f5b, #0d1539); */
    /* box-shadow: 0 1px 10px 0 rgba(0, 153, 255, 0.5), rgba(0, 153, 255, 0.5) 0px -40px 30px -35px inset; */
    box-shadow: rgba(17, 39, 105, 0.8) 0px -40px 30px -30px inset;
}

header .mainContainer {
    position: relative;
    padding: 0.8em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navBar{
    z-index: 5;
}

header .navBar ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 5em;
    list-style: none;
}

header .navBar ul a {
    text-decoration: none;
    font-size: 1.7em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px 10px #000;
    transition: 0.12s ease-in-out;
}

header .navBar ul a.active {
    padding-bottom: 2px;
    border-bottom: 3px solid #1fb4d2;
    text-shadow: 0 2px 10px #00d5ff50;
}

header .navBar ul a:hover:not(.active) {
    color: #00d5ff;
    text-shadow: 0 2px 20px #00d5ff50;
}

header .navBar ul a:active {
    color: #fff;
}

header .logoArea a img {
    display: block;
    width: 10em;
    height: auto;
    transition: 0.12s ease-in-out;
}

header .logoArea a img:hover {
    opacity: 70%;
}

header .rightSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6em;
}
header .userArea {
    position: relative;
    display: inline-block;
}

header .userArea .user-icon {
    display: block;
    cursor: pointer;
    font-size: 3.6em;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: 0.12s ease-in-out;
}

header .userArea .user-icon:hover {
    color: #00d5ff;
    text-shadow: 0 2px 20px #00d5ff50;
}

header .userArea .dropDown {
    position: absolute;
    z-index: 10;
    left: -40px;
    background-color: #161525;
    border: 2px solid rgba(17, 39, 105, 0.8);
    box-shadow: 0 1px 20px 0 rgba(17, 39, 105, 0.8);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

header .userArea .dropDown ul {
    list-style: none;
}

header .userArea .dropDown ul li {
    padding: 8px 20px;
}

header .userArea .dropDown ul li a {
    font-size: 1.4em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.12s ease-in-out;
}

header .userArea .dropDown ul li a:hover {
    color: #00d5ff;
    text-shadow: 0 2px 20px #00d5ff50;
}

header .userArea:hover .dropDown {
    opacity: 1;
    visibility: visible;
}

header .menuArea {
    display: none;
}

header .menuArea .menuBtn {
    position: relative;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

header .menuArea .menuBtn span {
    background-color: #fff;
    width: 100%;
    height: 0.4em;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}

header .menuArea .menuBtn .line-1 {
    transform: translate(-50%, -13px);
}

header .menuArea .menuBtn .line-3 {
    transform: translate(-50%, 8px);
}

header .menuArea .menuBtn.openmenu .line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

header .menuArea .menuBtn.openmenu .line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

header .menuArea .menuBtn.openmenu .line-2 {
    width: 0;
}


@media screen and (max-width: 1200px) {
    header{
        font-size: 11px;
    }
    header .navBar ul{
        gap: 3em;
    }
}

@media screen and (max-width: 840px) {
    header .menuArea {
        display: block;
    }

    header .navBar {
        position: absolute;
        top: 12.5em;
        background-color: #161525;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: 0.3s;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
        border: 2px solid rgba(17, 39, 105, 0.8);
        box-shadow: 0 1px 20px 0 rgba(17, 39, 105, 0.8);
    }

    header .navBar.open {
        visibility: visible;
    }
    header .navBar ul{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
}