section .cardsArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.3em;
}

section .cardsArea .card {
    position: relative;
    padding: 2.2em;
    background-color: #1B1525;
    box-shadow: 0px 2px 20px rgba(17, 39, 105, 0.8);
    border: 2px solid rgba(17, 39, 105, 0.8);
    border-radius: 8px;
    z-index: 1;
    /* background: url("../../images/bg2.png"); */
}

.card img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card hr {
    margin:0.3em 0;
}

.card h1{
    color: #fff;
    font-size: 2.5em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    text-align: center;
}

.card p {
    color: #A8A2B3;
    margin: 1.6em 0;
    font-size: 1.3em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
}

.paginationArea{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 3.5em;
}

.pagination a {
    padding: 0.6em 1.3em;
    color: #fff;
    font-size: 1.3em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
    transition: 0.12s ease-in-out;
}

.pagination a.active {
    color: #fff;
    background-color: #0574be;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    color: #000;
    background-color: #c0c0c0;
    border-radius: 5px;
}

@media screen and (max-width: 1400px) {
    section .cardsArea {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 840px) {
    main{
        font-size: 11px;
    }
    section .cardsArea .card{
        padding: 2em;
    }
}

@media screen and (max-width: 620px) {
    section .cardsArea {
        grid-template-columns: 1fr;
    }
    .pagination .page:nth-child(n+5) {
        display: none;
    }
}