section .cardsArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.3em;
}

section .cardsArea .card {
    position: relative;
    padding: 2.2em;
    background-color: #1B1525;
    box-shadow: 0px 2px 20px rgba(135, 7, 255, 0.39);
    border: 2px solid #8707ff;
    border-radius: 8px;
    z-index: 1;
    /* background: url("../../images/bg2.png"); */
}

.card img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card hr {
    margin:0.3em 0;
}

.card h1{
    color: #fff;
    font-size: 2.5em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    text-align: center;
}

.card p {
    color: #A8A2B3;
    margin: 1.6em 0;
    font-size: 1.5em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}


@media screen and (max-width: 1400px) {
    section .cardsArea {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 840px) {
    main{
        font-size: 11px;
    }
    section .cardsArea .card{
        padding: 2em;
    }
}

@media screen and (max-width: 620px) {
    section .cardsArea {
        grid-template-columns: 1fr;
    }
}