section .cardsArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

section .cardsArea .card {
    position: relative;
    background-color: #1B1525;
    box-shadow: 0px 2px 20px rgba(17, 39, 105, 0.8);
    border-radius: 8px;
    border: 2px solid rgba(17, 39, 105, 0.8);
    z-index: 1;
    /* background: url("../../images/bg2.png"); */
}

.card .cardContainer {
    padding: 20px;
}

.card img {
    width: 100%;
    border-radius: 50%
}

.card hr {
    margin:4px 0;
}

.card h1{
    color: #fff;
    font-size: 30px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    text-align: center;
}

.card p {
    font-size: 16px;
    color: #A8A2B3;
    margin: 20px 0;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
}

.pagination {
    display: block;
    text-align: center;
    padding-top: 3em;
}

.pagination a {
    font-size: 1.3em;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.12s ease-in-out;
}

.pagination a.active {
    background-color: #0574be;
    color: #fff;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #d1d1d1;
    color: #000;
    border-radius: 5px;
}

@media screen and (max-width: 1400px) {
    section .cardsArea {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    section .cardsArea {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 620px) {
    section .cardsArea {
        grid-template-columns: 1fr;
    }
}